<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5">           
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/public/img/logo_01.png" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item m-1">
                <a class="nav-link border border-2" aria-current="page" href="salas">Salas</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link border border-2" href="informes">Informes</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link border border-2" href="editperfil">Editar perfil</a>
              </li> 
              <li class="nav-item mx-3 my-1">
                <a class="nav-link bg-dark text-white text-center rounded-pill" href="configuracion">CONFIGURACIÓN</a>
              </li> 
            </ul>
          </div>
        </div>
    </nav> 