<html>

<head>
  <style>
    body {
      background-image: url('/img/fondo_02.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>
  {{> Navbar}}
  
  <div class="container m-3">
    <h1 class="tex-center">SALAS DE BOMBAS</h1>

     <body id="cardSalas">
      <div>
        <span class="visually-hidden">Loading...</span>

      </div>
    </body>

    <form id="eventRegister">

      <select class="form-select" aria-label="Default select example">
        <option selected>Seleccionar sala</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

    </form>
    
  </div>

</body>
</html>

<script>


</script>