<html>

<head>
  <style>
    body {
      background-image: url('/img/fondo_02.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>
  {{> Navbar}}
  
  <div class="container m-3">
    <h1 class="tex-center">SALAS DE BOMBAS</h1>

     <body id="cardSalas">
      <div>
        <span class="visually-hidden">Loading...</span>

      </div>
    </body>

    {{!-- <div class="container">
      <div class="col-4 m-3">
        <div class="card rounded-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-dark">PE - La Vara:</h5>
            <img src="" class="card-img-top" alt="mapa">
          </div>
          <a href="selecSala" class="btn btn-secondary text-white">Ingresar</a>
        </div>
      </div>

    </div> --}}

  </div>

</body>
</html>

<script>
const card = document.getElementById('cardSalas')

  const pintarDatos = (data) => {

    data.forEach(item => {
      const estado = item.estado;

      card.innerHTML += `
            <div class="container">
              <div class="col-4 m-3">
                <div class="card rounded-3" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-dark">PE - ${item.nombre_sala}:</h5>
                    <img src="${item.ubicacion_map}" class="card-img-top" alt="mapa">
                  </div>
                  <a href="/selecSala" class="btn btn-secondary text-white">Ingresar</a>
                </div>
              </div>
            </div>
            `
    })
  }

  window.document.addEventListener("DOMContentLoaded", async () => {
    if (!localStorage.getItem("token")) {
      window.location.href = "/";
    }
    const res = await fetch("/api/v1/salas", {
      headers: {
        authorization: `Bearer ${localStorage.getItem("token")}`,
      },
    });
    const data = await res.json();
    console.log(data);
    if (!data.ok) {
      window.location.href = "/";
    }

    pintarDatos(data.users);
  });

</script>