<html>
<head>
<style>
body {
  background-image: url('https://www.emprendedores.es/wp-content/uploads/2018/10/autopistas-inteligentes-que-negocios-se-van-a-generar.jpg');
  background-repeat: no-repeat;
}
</style>
</head>
<body>

<div class="container m-3">
  <h1 class="tex-center">SALAS DE BOMBAS</h1>
  

  <div class="container">
    <div class="col-4 m-3">
      <div class="card rounded-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-dark">PE - La Vara:</h5>
          <img src="" class="card-img-top" alt="mapa">
        </div>
        <a href="laVara" class="btn btn-secondary text-white">Ingresar</a>
      </div>
    </div>

  </div>
</div>

</body>
</html>

