<html>   
<head>
    <style>
        body {
            background-image: url('/img/fondo_02.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    {{> Navbar}}
    
    <div class="container m-3">
        <h1 class="tex-center">SALA SELECCIONADA</h1>

        <div class="row py-2">
            <div class="col-5 mb-2 me-4 bg-light text-dark border border-dark rounded">MAPA:<br>
                <body id="mapa">

                </body>
            </div>
            <div class="col-5 mb-2 ms-4 bg-light text-dark ms-auto border border-dark rounded">ESTADO SALA:<br>
                <body id="grafico">
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                </body>
            </div>
            <div class="col-12 mb-2 bg-secondary text-white border border-dark rounded">ÚLTIMOS DATOS:<br>
                <table class="table table-dark table-striped md-3">
                    <thead>
                        <tr>
                            <th scope="col">Fecha/Hora</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody id="datos">
                        <div>
                            <span class="visually-hidden">Loading...</span>

                        </div>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</body>
</html>

<script>
    const datos = document.getElementById('datos')

    const pintarDatos = (data) => {

        data.forEach(item => {
            const estado = item.estado;

            datos.innerHTML += `
            <tr>
              <td>${item.timestamp}</td>
              <td>${item.nombre_equipo}</td>
              <td>${item.dato}</td>
              <td>${item.estado}</td>
            </tr>
            `
        })
    }

    window.document.addEventListener("DOMContentLoaded", async () => {
        if (!localStorage.getItem("token")) {
            window.location.href = "/";
        }
        const res = await fetch("/api/v1/equipos", {
            headers: {
                authorization: `Bearer ${localStorage.getItem("token")}`,
            },
        });
        const data = await res.json();
        console.log(data);
        if (!data.ok) {
            window.location.href = "/";
        }

        pintarDatos(data.users);
    });


/*
const grafico = document.getElementById('grafico')
    const arrayGrafico = []
    const pintarGrafico = (data) => {
        data.forEach(item => {
            for(let i=0; i < item.length; i++){
                let xValues = `[]`
                //push al arrayGrafico
            }
    
        })
        
    }
*/
var xValues = [100,200,300,400,500,600,700,800,900,1000];
new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{ 
      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
      borderColor: "red",
      fill: false
    }, { 
      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
      borderColor: "green",
      fill: false
    }]
  },
  options: {
    legend: {display: false}
  }
});
</script>